body{
    font-family: 'Kufam', cursive;
}
.im{
    background: url(../xz/wallpaperflare.com_wallpaper\ \(13\).jpg);
    background-size: cover;
    height: 100vh;
}
.wrapp{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.wrapp h1{
    color: red;
    font-size: 3.5rem;
    text-align: center;

}
.formcode{
    text-align: center;
}
.formcode .postcode {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    padding: 0.6rem;
    border: none;
    outline: none;

}
.formcode button{
    width: 40%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: firebrick;
    color: white;
    padding: 0.3rem;
    border: none;
    border-radius: 1rem;
    

}
.im2{
    margin-top: 15px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

}
.ilist{
    width: 24%;
    float: left;
    margin-left: 0.5rem;
}
#sec4{
    height: 60px;
    background-color: lightpink;
    color: white;
    font-size: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 100%;
    
}
@media(max-width:850px){
    .ilist{
        width: 31%;
        float: left;
        margin-left: 0.5rem;
    }

}